<a href="https://colab.research.google.com/github/droussiaymane/House-Price-Prediction/blob/master/code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
color = sns.color_palette()
sns.set_style('darkgrid')
import warnings
def ignore_warn(*args, **kwargs):
    pass
warnings.warn = ignore_warn #ignore annoying warning (from sklearn and seaborn)
#statistics
from scipy import stats
from scipy.stats import norm, skew

In [ ]:
train = pd.read_csv('/content/merged_data.csv')
train.head()

,web-scraper-order,web-scraper-start-url,link,link-href,prix,zone,surface,nombre de piece,nombre de chambre,etat,date
0,1680998864-2435,https://www.mubawab.ma/fr/ct/casablanca/immobi...,Appartement haut standing au Maarif Casab...,https://www.mubawab.ma/fr/a/7615142/appartemen...,1 505 000 DH,Maârif à\n\t\t\t\tCasablanca,83\n\t\t\t\t\tm²,3 Pièces,2 Chambres,Nouveau,Moins d'un an
1,1680998866-2436,https://www.mubawab.ma/fr/ct/casablanca/immobi...,Chic appartement au centre du Maarif Casa...,https://www.mubawab.ma/fr/a/7615146/chic-appar...,2 355 000 DH,Maârif à\n\t\t\t\tCasablanca,130\n\t\t\t\t\tm²,4 Pièces,3 Chambres,Nouveau,Moins d'un an
2,1680998868-2437,https://www.mubawab.ma/fr/ct/casablanca/immobi...,Villa à vendre 300m² à Ain sebaa Casablan...,https://www.mubawab.ma/fr/a/7330364/villa-%C3%...,15 000 DH,Aïn Sebaâ à\n\t\t\t\tCasablanca,300\n\t\t\t\t\tm²,8 Pièces,5 Chambres,Bon état,NaN
3,1680998870-2438,https://www.mubawab.ma/fr/ct/casablanca/immobi...,Appartement à vendre au CIL à Casablanca,https://www.mubawab.ma/fr/a/7572368/appartemen...,2 600 000 DH,CIL (Hay Salam) à\n\t\t\t\tCasablanca,180\n\t\t\t\t\tm²,4 Pièces,3 Chambres,Bon état,NaN
4,1680998872-2439,https://www.mubawab.ma/fr/ct/casablanca/immobi...,Appartement à vendre,https://www.mubawab.ma/fr/a/7592127/appartemen...,620 000 DH,Bernoussi à\n\t\t\t\tCasablanca,71\n\t\t\t\t\tm²,3 Pièces,2 Chambres,Bon état,1-5 ans

drop the columns

In [ ]:
new_data = train.drop(columns=['web-scraper-order', 'web-scraper-start-url', 'link', 'link-href'])

In [ ]:
new_data.head()

,prix,zone,surface,nombre de piece,nombre de chambre,etat,date
0,1 505 000 DH,Maârif à\n\t\t\t\tCasablanca,83\n\t\t\t\t\tm²,3 Pièces,2 Chambres,Nouveau,Moins d'un an
1,2 355 000 DH,Maârif à\n\t\t\t\tCasablanca,130\n\t\t\t\t\tm²,4 Pièces,3 Chambres,Nouveau,Moins d'un an
2,15 000 DH,Aïn Sebaâ à\n\t\t\t\tCasablanca,300\n\t\t\t\t\tm²,8 Pièces,5 Chambres,Bon état,NaN
3,2 600 000 DH,CIL (Hay Salam) à\n\t\t\t\tCasablanca,180\n\t\t\t\t\tm²,4 Pièces,3 Chambres,Bon état,NaN
4,620 000 DH,Bernoussi à\n\t\t\t\tCasablanca,71\n\t\t\t\t\tm²,3 Pièces,2 Chambres,Bon état,1-5 ans

tranform data and clean it

price

In [ ]:
new_data['prix'] = new_data['prix'].str.replace(' ', '').str.replace('DH', '')

In [ ]:
new_data.head()

,prix,zone,surface,nombre de piece,nombre de chambre,etat,date
0,1 505 000,Maârif à\n\t\t\t\tCasablanca,83\n\t\t\t\t\tm²,3 Pièces,2 Chambres,Nouveau,Moins d'un an
1,2 355 000,Maârif à\n\t\t\t\tCasablanca,130\n\t\t\t\t\tm²,4 Pièces,3 Chambres,Nouveau,Moins d'un an
2,15 000,Aïn Sebaâ à\n\t\t\t\tCasablanca,300\n\t\t\t\t\tm²,8 Pièces,5 Chambres,Bon état,NaN
3,2 600 000,CIL (Hay Salam) à\n\t\t\t\tCasablanca,180\n\t\t\t\t\tm²,4 Pièces,3 Chambres,Bon état,NaN
4,620 000,Bernoussi à\n\t\t\t\tCasablanca,71\n\t\t\t\t\tm²,3 Pièces,2 Chambres,Bon état,1-5 ans

In [ ]:
new_data.dtypes

prix                 object
zone                 object
surface              object
nombre de piece      object
nombre de chambre    object
etat                 object
date                 object
dtype: object

In [ ]:
new_data = new_data.dropna(subset=['prix'])
new_data = new_data.dropna(subset=['nombre de piece'])
new_data = new_data.dropna(subset=['nombre de chambre'])
new_data = new_data.dropna(subset=['etat'])
new_data.head()

,prix,zone,surface,nombre de piece,nombre de chambre,etat,date
0,1 505 000,Maârif à\n\t\t\t\tCasablanca,83\n\t\t\t\t\tm²,3 Pièces,2 Chambres,Nouveau,Moins d'un an
1,2 355 000,Maârif à\n\t\t\t\tCasablanca,130\n\t\t\t\t\tm²,4 Pièces,3 Chambres,Nouveau,Moins d'un an
2,15 000,Aïn Sebaâ à\n\t\t\t\tCasablanca,300\n\t\t\t\t\tm²,8 Pièces,5 Chambres,Bon état,NaN
3,2 600 000,CIL (Hay Salam) à\n\t\t\t\tCasablanca,180\n\t\t\t\t\tm²,4 Pièces,3 Chambres,Bon état,NaN
4,620 000,Bernoussi à\n\t\t\t\tCasablanca,71\n\t\t\t\t\tm²,3 Pièces,2 Chambres,Bon état,1-5 ans

In [ ]:
new_data['prix'] = new_data['prix'].str.replace(r'\D', '', regex=True).astype(float)
new_data.head()

,prix,zone,surface,nombre de piece,nombre de chambre,etat,date
0,1505000.0,Maârif à\n\t\t\t\tCasablanca,83\n\t\t\t\t\tm²,3 Pièces,2 Chambres,Nouveau,Moins d'un an
1,2355000.0,Maârif à\n\t\t\t\tCasablanca,130\n\t\t\t\t\tm²,4 Pièces,3 Chambres,Nouveau,Moins d'un an
2,15000.0,Aïn Sebaâ à\n\t\t\t\tCasablanca,300\n\t\t\t\t\tm²,8 Pièces,5 Chambres,Bon état,NaN
3,2600000.0,CIL (Hay Salam) à\n\t\t\t\tCasablanca,180\n\t\t\t\t\tm²,4 Pièces,3 Chambres,Bon état,NaN
4,620000.0,Bernoussi à\n\t\t\t\tCasablanca,71\n\t\t\t\t\tm²,3 Pièces,2 Chambres,Bon état,1-5 ans

In [ ]:
new_data['zone'] = new_data['zone'].str.split(' à').str.get(0)
new_data.head()

,prix,zone,surface,nombre de piece,nombre de chambre,etat,date
0,1505000.0,Maârif,83\n\t\t\t\t\tm²,3 Pièces,2 Chambres,Nouveau,Moins d'un an
1,2355000.0,Maârif,130\n\t\t\t\t\tm²,4 Pièces,3 Chambres,Nouveau,Moins d'un an
2,15000.0,Aïn Sebaâ,300\n\t\t\t\t\tm²,8 Pièces,5 Chambres,Bon état,NaN
3,2600000.0,CIL (Hay Salam),180\n\t\t\t\t\tm²,4 Pièces,3 Chambres,Bon état,NaN
4,620000.0,Bernoussi,71\n\t\t\t\t\tm²,3 Pièces,2 Chambres,Bon état,1-5 ans

In [ ]:
new_data['surface'] = new_data['surface'].str.extract(r'(\d+)').astype(float)
new_data.head()

,prix,zone,surface,nombre de piece,nombre de chambre,etat,date
0,1505000.0,Maârif,83.0,3 Pièces,2 Chambres,Nouveau,Moins d'un an
1,2355000.0,Maârif,130.0,4 Pièces,3 Chambres,Nouveau,Moins d'un an
2,15000.0,Aïn Sebaâ,300.0,8 Pièces,5 Chambres,Bon état,NaN
3,2600000.0,CIL (Hay Salam),180.0,4 Pièces,3 Chambres,Bon état,NaN
4,620000.0,Bernoussi,71.0,3 Pièces,2 Chambres,Bon état,1-5 ans

In [ ]:
new_data['nombre de piece'] = new_data['nombre de piece'].str.extract(r'(\d+)')

In [ ]:
new_data['nombre de piece'] = new_data['nombre de piece'].astype(int)
new_data.head()

,prix,zone,surface,nombre de piece,nombre de chambre,etat,date
0,1505000.0,Maârif,83.0,3,2 Chambres,Nouveau,Moins d'un an
1,2355000.0,Maârif,130.0,4,3 Chambres,Nouveau,Moins d'un an
2,15000.0,Aïn Sebaâ,300.0,8,5 Chambres,Bon état,NaN
3,2600000.0,CIL (Hay Salam),180.0,4,3 Chambres,Bon état,NaN
4,620000.0,Bernoussi,71.0,3,2 Chambres,Bon état,1-5 ans

In [ ]:
new_data['nombre de chambre'] = new_data['nombre de chambre'].str.extract(r'(\d+)')
new_data['nombre de chambre'] = new_data['nombre de chambre'].astype(int)
new_data.head()

,prix,zone,surface,nombre de piece,nombre de chambre,etat,date
0,1505000.0,Maârif,83.0,3,2,Nouveau,Moins d'un an
1,2355000.0,Maârif,130.0,4,3,Nouveau,Moins d'un an
2,15000.0,Aïn Sebaâ,300.0,8,5,Bon état,NaN
3,2600000.0,CIL (Hay Salam),180.0,4,3,Bon état,NaN
4,620000.0,Bernoussi,71.0,3,2,Bon état,1-5 ans

In [ ]:
new_data.head()

,prix,zone,surface,nombre de piece,nombre de chambre,etat,date
0,1505000.0,Maârif,83.0,3,2,Nouveau,Moins d'un an
1,2355000.0,Maârif,130.0,4,3,Nouveau,Moins d'un an
2,15000.0,Aïn Sebaâ,300.0,8,5,Bon état,NaN
3,2600000.0,CIL (Hay Salam),180.0,4,3,Bon état,NaN
4,620000.0,Bernoussi,71.0,3,2,Bon état,1-5 ans

In [ ]:
allowed_values = ['Bon état', 'Nouveau', 'À rénover']

# Filter the DataFrame to only include rows with the allowed values in the 'etat' column
new_data = new_data[new_data['etat'].isin(allowed_values)]

In [ ]:
new_data['etat'].unique()

array(['Nouveau', 'Bon état', 'À rénover'], dtype=object)

In [ ]:
# Create dummy variables for the 'etat' column
etat_dummies = pd.get_dummies(new_data['etat'], prefix='etat')

# Drop the original 'etat' column
new_data = new_data.drop('etat', axis=1)

# Concatenate the dummy variables to the DataFrame
new_data = pd.concat([new_data, etat_dummies], axis=1)

# Check the updated DataFrame
print(new_data.head())

        prix             zone  surface  nombre de piece  nombre de chambre  \
0  1505000.0           Maârif     83.0                3                  2
1  2355000.0           Maârif    130.0                4                  3
2    15000.0        Aïn Sebaâ    300.0                8                  5
3  2600000.0  CIL (Hay Salam)    180.0                4                  3
4   620000.0        Bernoussi     71.0                3                  2

            date  etat_Bon état  etat_Nouveau  etat_À rénover
0  Moins d'un an              0             1               0
1  Moins d'un an              0             1               0
2            NaN              1             0               0
3            NaN              1             0               0
4        1-5 ans              1             0               0

In [ ]:
new_data.head()

,prix,zone,surface,nombre de piece,nombre de chambre,date,etat_Bon état,etat_Nouveau,etat_À rénover
0,1505000.0,Maârif,83.0,3,2,Moins d'un an,0,1,0
1,2355000.0,Maârif,130.0,4,3,Moins d'un an,0,1,0
2,15000.0,Aïn Sebaâ,300.0,8,5,NaN,1,0,0
3,2600000.0,CIL (Hay Salam),180.0,4,3,NaN,1,0,0
4,620000.0,Bernoussi,71.0,3,2,1-5 ans,1,0,0

correlation

In [ ]:
correlation_matrix = new_data.corr()
price_correlation = correlation_matrix['prix']
print(price_correlation)

prix                 1.000000
surface              0.039378
nombre de piece      0.344162
nombre de chambre    0.378222
etat_Bon état       -0.041225
etat_Nouveau        -0.044522
etat_À rénover       0.168644
Name: prix, dtype: float64

In [ ]:
#delete data <200.000
new_data = new_data[new_data['prix'] >= 200000]

fix zone problem , from object to float

In [ ]:
data_train=new_data
# Calculate the average price per square meter for each zone
data_train['prix par m2'] = data_train['prix'] / data_train['surface']
avg_price_per_sqm_by_zone = data_train.groupby('zone')['prix par m2'].mean()

# Normalize the average price per square meter to obtain coefficients between 0 and 10
min_avg_price = avg_price_per_sqm_by_zone.min()
max_avg_price = avg_price_per_sqm_by_zone.max()
avg_price_range = max_avg_price - min_avg_price
avg_price_per_sqm_by_zone_normalized = (avg_price_per_sqm_by_zone - min_avg_price) / avg_price_range * 10

# Create a new column 'zone_coefficient' based on the 'zone' column
data_train['zone_coefficient'] = data_train['zone'].map(avg_price_per_sqm_by_zone_normalized)

# Calculate the correlation matrix
correlation_matrix = data_train.corr()

data_train.head()

,prix,zone,surface,nombre de piece,nombre de chambre,date,etat_Bon état,etat_Nouveau,etat_À rénover,prix par m2,zone_coefficient
0,1505000.0,Maârif,83.0,3,2,Moins d'un an,0,1,0,18132.530120,1.042141
1,2355000.0,Maârif,130.0,4,3,Moins d'un an,0,1,0,18115.384615,1.042141
3,2600000.0,CIL (Hay Salam),180.0,4,3,NaN,1,0,0,14444.444444,1.011437
4,620000.0,Bernoussi,71.0,3,2,1-5 ans,1,0,0,8732.394366,0.249358
6,3300000.0,Racine,188.0,5,3,NaN,1,0,0,17553.191489,1.098075

In [ ]:
zones = data_train["zone"].unique()
zone_coefficients = {}

for zone in zones:
    zone_rows = data_train[data_train["zone"] == zone]
    zone_coefficient = zone_rows["zone_coefficient"].iloc[0]
    zone_coefficients[zone] = zone_coefficient

print(zone_coefficients)

{'Maârif': 1.0421414640801192, 'CIL (Hay Salam)': 1.0114365939827252, 'Bernoussi': 0.24935824844159965, 'Racine': 1.0980748001340095, 'Gauthier': 1.1000084244860473, 'Oasis sud': 1.138887911601744, 'Hay Mohammadi': 0.896226205380303, 'Ahl Loghlam (Hay Assalam)': 0.09727375017869881, 'Salmia 1': 0.2893297065755964, 'Al Qods': 0.5612090110715158, 'Moulay Youssef': 0.7123845394102897, 'La Gironde': 0.5320164951142371, 'Oulfa': 0.47704368358540217, 'Les Hôpitaux': 0.7677442569991278, 'Mers Sultan': 2.223517655426784, 'Bournazil': 0.39404574585007096, 'Sidi Moumen': 0.3085904884648995, 'Nassim 1': 0.46773469037992765, 'Al Madina Aljadida': 0.20824429087985183, 'Mandarona': 0.8440269084515333, 'Nassim 2': 0.5635544359813308, "Triangle d'Or": 1.1554851219726536, 'Beausite': 0.2877966495194035, 'Anfa': 1.0672528673501627, 'Maârif Extension': 0.8728269450776251, 'Hay Idrissia': 1.2154649242686295, 'Roches Noires': 0.46013323496465863, 'Sidi Maarouf': 0.7813313636649564, 'Californie': 0.8333261062698689, 'Oasis': 1.2756243478568439, 'Hay Hassani': 0.6213222792405136, 'Beauséjour': 0.7600791976230175, 'Belvédère': 0.5225712811609717, 'Aïn Sebaâ': 0.43898039343401574, 'Lissasfa': 0.27362511627119734, 'Burger': 0.6845271884226585, 'Val Fleury': 0.7948775435302807, 'Al Azhar': 0.22826954471801583, 'Al Andalous': 1.0933868599842436, 'Ain Diab': 1.2909780907415493, 'Ain Diab Extension': 1.1079763759872565, 'Hay Al Fath': 0.8253189204521485, 'Sidi Othmane': 0.5094650114469159, "Hay M'barka": 0.7422317169246833, 'Racine Extension': 1.0754404140662726, 'Riviera': 1.3139047385556524, 'Alsace Lorraine': 0.5424637345772153, 'Casablanca': 0.883141049497581, 'Les princesses': 0.9966650110738479, 'Bourgogne Ouest': 1.5558950849304338, 'Hay Arrahma': 0.3235932626409191, 'Longchamps (Hay Al Hanâa)': 1.0507255145544983, 'Anfa Supérieur': 1.3665898461525308, 'Hermitage': 0.7654022423863137, 'Ain Borja': 0.4985959667099738, 'Derb Ghalef': 0.7021041287691707, 'Hay Moulay Abdellah': 1.1703809398697043, 'Laymoune': 0.7605350046071762, 'El Manar - El Hank': 1.3061130099335174, 'Al Hassania': 0.3440025158620309, 'Lusitania': 0.9161231823647341, 'Lahraouiyine': 0.005239327536174614, 'Dar Lamane': 0.7343171392000083, 'Hay Albaraka': 0.35629468475967907, 'Quartier Cheminots': 0.1948859458821607, 'Ain Chock': 0.7411395988681799, 'Hay Chrifa': 1.2005258564638481, 'Polo': 0.6902144235302416, 'Casablanca Finance City': 1.416359672244786, 'Quartier Bachkou': 0.6446416505463975, 'Benjdia': 0.6381710064511038, 'Mabroka': 0.34726575705438667, 'Tantonville': 0.8053834425619893, 'Hay Inara': 0.9163736423563431, 'Ferme Bretonne (Hay Arraha)': 1.1231876838486736, 'La Vilette': 0.31026740761683336, 'Jamila 4': 1.186501752263987, 'Foncière': 0.7510903168054226, 'Casablanca Marina': 2.327382103344417, 'Anassi': 0.1373196455618206, 'Hay Alfarah': 1.4485382293346567, 'Hay Alfalah': 0.033643468552288794, 'Al Hadika': 0.2514210564830056, 'Palmier': 1.5735879696778405, 'Hay Alamal': 0.7911467140843149, 'Hay Hakam': 2.270934127279494, 'Hay Haddaouia': 0.615641799712943, 'Sidi El Khadir': 0.9308615477438291, 'Zone Industrielle': 0.0404368612407317, 'Hay Salama': 0.7252849198772404, 'Bourgogne Est': 0.6758067693788188, 'Hay Al Amal': 0.7418795873196203, 'Hay Moulay Rachid 6': 0.252326014142166, 'Derb Moulay Cherif': 0.6271260585404712, 'Salmia 2': 0.18141517277635927, 'Miamar': 0.826244007092975, 'Bouchentouf': 0.013565914738826106, 'Hay Arsalan': 0.38854549279137873, 'Hay Almasjid': 0.26734541974586634, 'Hay Al Othmania': 0.0, 'Zone Industrielle Oukacha': 10.0, 'Hay Almassira 2': 0.2557043773503647, 'Jamila 5': 0.33903774435303724, 'Quartier Al Woroud': 1.5439446919191027, 'Sidi Maârouf': 0.7870343612137123, 'Hay Sadri': 0.26007309444970206, 'Hay Almassira 3': 0.27835965052191325, 'Tacharouk (Hay Al Walaa)': 0.22273664194038512, 'Hay Lamiaa': 0.40552395129990954, 'Al Farah Dar Essalam': 0.28692041894008485, 'Hay Antaria': 0.9751635557366857, 'Hay Palestine': 0.5722318183781775, 'Jamila 2': 0.21350662735106352, 'Derb Omar': 0.5343554547064072, 'Centre Ville': 0.28500175330442107, 'Derb Salama': 2.8348935520502323, 'La Floride': 0.7837023147220391, 'Itissal': 6.821213248976554, 'Franceville': 0.8822948838797057, 'Lekrimat': 0.4433263430238952, 'Hay Zobir': 0.20218962932737433, 'Hay Annour': 0.35186196321970453, 'Dar Touzani': 0.38939199713297223, 'Habbous': 0.8197930941741622, 'Les Crêtes': 0.5918377273905252, 'Hay Lmkansa': 0.1802328672444043, 'Sour Jdid': 0.588760699665054, 'Hay Smara': 0.2949810967662346, 'Vermont': 0.4149267511352814, 'Derb Koréa': 0.1896921477932445, 'City Dar Es Salaam': 0.37247135790765873, 'Hay Al Qods': 0.7086765548944951, 'Plateau (Al Batha)': 0.588760699665054, 'Jamila 7': 0.28673410697973417, 'Port': 0.252326014142166, 'Derb Loubila': 0.5961548685776449, 'Sidi Belyout': 0.9476047142203801, 'Derb Lihoudi': 1.141474825881227, 'Jamila 3': 0.2683467134527797, 'Derb Chorfa': 0.42054335690360994, 'Hay Al Fadl': 0.42054335690360994, 'Michouar': 0.21027167845180497, 'Derb Espagnol': 0.9648486769636121, 'Hay Tissir': 0.3577250726092695, 'Garage Allal': 0.6178353021176493, 'Derb Abdellah': 0.7548214098269923, 'Derb Douam': 1.5165440439724027, 'Ifriquia': 0.30038811207400706, 'Al Osra': 0.8144044845394123, 'Hay Mansour': 1.2408624975304048, 'Ksar Lebhar': 4.941384443617417, 'Ancienne Medina': 0.15770375883885374, 'Zone Industrielle Moulay Rachid': 0.06640158266899109, 'Hay Moulay Rachid 3': 0.10513583922590249, 'La Jonquiere': 1.3369512689622227}

In [ ]:
data_train = data_train.drop('prix par m2', axis=1)

In [ ]:
data_train["zone_coefficient"].unique()

In [ ]:
correlation_matrix = data_train.corr()
price_correlation = correlation_matrix['prix']
print(price_correlation)

In [ ]:
!pip install seaborn

In [ ]:

# Select only the numerical columns
numerical_columns = data_train.select_dtypes(include=['number']).columns

# Create box plots for each numerical feature
plt.figure(figsize=(15, 10))
for index, column in enumerate(numerical_columns, start=1):
    plt.subplot(3, 3, index)  # Adjust the number of rows and columns as needed
    sns.boxplot(x=data_train[column])
    plt.title(column)

plt.tight_layout()
plt.show()

In [ ]:
# Select only the numerical columns, excluding the one-hot encoded 'etat' columns
numerical_columns = data_train.select_dtypes(include=['number']).columns
numerical_columns = numerical_columns.difference(['etat_Bon état', 'etat_Nouveau', 'etat_À rénover'])

# Function to remove outliers using the IQR method
def remove_outliers_iqr(data, column):
    Q1 = data[column].quantile(0.25)
    Q3 = data[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    data = data[(data[column] >= lower_bound) & (data[column] <= upper_bound)]
    return data

# Remove outliers for each numerical column
for column in numerical_columns:
    data_train = remove_outliers_iqr(data_train, column)

# Check the updated DataFrame
print(data_train.head())

In [ ]:

# Select only the numerical columns
numerical_columns = data_train.select_dtypes(include=['number']).columns

# Create box plots for each numerical feature
plt.figure(figsize=(15, 10))
for index, column in enumerate(numerical_columns, start=1):
    plt.subplot(3, 3, index)  # Adjust the number of rows and columns as needed
    sns.boxplot(x=data_train[column])
    plt.title(column)

plt.tight_layout()
plt.show()

In [ ]:
correlation_matrix = data_train.corr()
price_correlation = correlation_matrix['prix']
print(price_correlation)

In [ ]:
data_train = data_train.drop(columns=['zone','date'])
data_train.head()

In [ ]:
correlation_matrix = data_train.corr()
sns.heatmap(correlation_matrix, annot=True, cmap="coolwarm")
plt.title("Matrice de corrélation")
plt.show()

In [ ]:
data_train.describe()

In [ ]:
import seaborn as sns

# Sélectionnez les caractéristiques numériques que vous souhaitez analyser
features = ['prix', 'surface', 'nombre de piece', 'nombre de chambre']

# Créez le graphique de paire
sns.pairplot(data_train[features])
plt.show()

In [ ]:
import matplotlib.pyplot as plt

# Choisissez les variables que vous souhaitez comparer
x_variable = 'surface'
y_variable = 'prix'

# Créez le graphique de dispersion
plt.scatter(data_train[x_variable], data_train[y_variable])
plt.xlabel(x_variable)
plt.ylabel(y_variable)
plt.title(f"Relation entre {x_variable} et {y_variable}")
plt.show()

In [ ]:
#Model lineaire

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Sélectionnez les variables indépendantes (X) et la variable dépendante (y)
X = data_train[['surface']]
y = data_train['prix']

# Divisez les données en ensembles d'entraînement et de test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.01, random_state=42)

# Créez et entraînez le modèle de régression linéaire
model = LinearRegression()
model.fit(X_train, y_train)

# Prédisez les prix à l'aide du modèle entraîné
y_pred = model.predict(X_test)

# Évaluez les performances du modèle
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)


print(f"R-squared: {r2}")

In [ ]:
import matplotlib.pyplot as plt

plt.scatter(X_test, y_test, color='blue', label='Valeurs réelles')
plt.scatter(X_test, y_pred, color='red', label='Valeurs prédites')
plt.plot(X_test, y_pred, color='green', label='Régression linéaire')
plt.xlabel('Surface')
plt.ylabel('Prix')
plt.title('Régression linéaire : Surface vs Prix')
plt.legend()
plt.show()

In [ ]:
from sklearn.metrics import mean_absolute_error

# Calculate Mean Absolute Error
mae = mean_absolute_error(y_test, y_pred)

# Print the performance metrics
print(f"Mean Squared Error (MSE): {mse}")
print(f"Mean Absolute Error (MAE): {mae}")
print(f"R-squared (R2): {r2}")

In [ ]:
#multilineaire

In [ ]:
data_train.describe()

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

# Sélectionnez les variables indépendantes (X) et la variable dépendante (y)
X = data_train[['surface', 'zone_coefficient', 'nombre de piece', 'nombre de chambre','etat_Bon état','etat_Nouveau','etat_À rénover']]
y = data_train['prix']

# Divisez les données en ensembles d'entraînement et de test
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.01, random_state=42)

# Créez et entraînez le modèle de régression linéaire multiple
model = LinearRegression()
model.fit(X_train, y_train)

# Prédisez les prix à l'aide du modèle entraîné
y_pred = model.predict(X_test)

# Évaluez les performances du modèle
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error (MSE): {mse}")
print(f"Mean Absolute Error (MAE): {mae}")
print(f"R-squared (R2): {r2}")

In [ ]:
#random forest

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Load your dataset (replace this with your own dataset)
data = data_train

# Prepare the data
X = data.drop('prix', axis=1)  # Replace 'target_column' with the name of your target column
y = data['prix']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.01, random_state=42)

# Create and train the Random Forest model
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)

# Make predictions using the trained model
y_pred = model.predict(X_test)

# Evaluate the model performance
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error (MSE): {mse}')
print(f"Mean Absolute Error (MAE): {mae}")
print(f'R-squared (R2): {r2}')

In [ ]:
#Lasoo regression

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Lasso
from sklearn.metrics import mean_squared_error, r2_score

# Load your dataset (replace this with your own dataset)
data = data_train

# Prepare the data
X = data.drop('prix', axis=1)  # Replace 'target_column' with the name of your target column
y = data['prix']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.01, random_state=42)

# Create and train the Lasso model
model = Lasso(alpha=1.0)
model.fit(X_train, y_train)

# Make predictions using the trained model
y_pred = model.predict(X_test)

# Evaluate the model performance
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error (MSE): {mse}')
print(f"Mean Absolute Error (MAE): {mae}")
print(f'R-squared (R2): {r2}')

In [ ]:
#ridge regression

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error, r2_score

# Load your dataset (replace this with your own dataset)
data = data_train

# Prepare the data
X = data.drop('prix', axis=1)  # Replace 'target_column' with the name of your target column
y = data['prix']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.01, random_state=42)

# Create and train the Ridge model
model = Ridge(alpha=1.0)
model.fit(X_train, y_train)

# Make predictions using the trained model
y_pred = model.predict(X_test)

# Evaluate the model performance
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error (MSE): {mse}')
print(f"Mean Absolute Error (MAE): {mae}")
print(f'R-squared (R2): {r2}')

In [ ]:
# elastic net

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import ElasticNet
from sklearn.metrics import mean_squared_error, r2_score

# Load your dataset (replace this with your own dataset)
data = data_train

# Prepare the data
X = data.drop('prix', axis=1)  # Replace 'target_column' with the name of your target column
y = data['prix']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.01, random_state=42)

# Create and train the Elastic Net model
model = ElasticNet(alpha=1.0, l1_ratio=0.5)
model.fit(X_train, y_train)

# Make predictions using the trained model
y_pred = model.predict(X_test)


# Evaluate the model performance
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error (MSE): {mse}')
print(f"Mean Absolute Error (MAE): {mae}")
print(f'R-squared (R2): {r2}')

In [ ]:
#Decision Trees

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Load your dataset (replace this with your own dataset)
data = data_train

# Prepare the data
X = data.drop('prix', axis=1)  # Replace 'target_column' with the name of your target column
y = data['prix']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.01, random_state=42)

# Create and train the Decision Tree model
model = DecisionTreeRegressor(random_state=42)
model.fit(X_train, y_train)

# Make predictions using the trained model
y_pred = model.predict(X_test)

# Evaluate the model performance
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error (MSE): {mse}')
print(f"Mean Absolute Error (MAE): {mae}")
print(f'R-squared (R2): {r2}')

In [ ]:
#GradientBoostingRegressor

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import mean_squared_error, r2_score


# Load your dataset (replace this with your own dataset)
data = data_train

# Prepare the data
X = data.drop('prix', axis=1)  # Replace 'target_column' with the name of your target column
y = data['prix']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.01, random_state=42)

# Create and train the Gradient Boosting model
model = GradientBoostingRegressor(random_state=42)
model.fit(X_train, y_train)

# Make predictions using the trained model
y_pred = model.predict(X_test)

# Evaluate the model performance
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error (MSE): {mse}')
print(f"Mean Absolute Error (MAE): {mae}")
print(f'R-squared (R2): {r2}')

In [ ]:
#chosen model

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error, r2_score

# Load your dataset (replace this with your own dataset)
data = data_train

# Prepare the data
X = data.drop('prix', axis=1)  # Replace 'target_column' with the name of your target column
y = data['prix']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.01, random_state=42)

# Create and train the Ridge model
model = Ridge(alpha=1.0)
model.fit(X_train, y_train)

# Make predictions using the trained model
y_pred = model.predict(X_test)

# Evaluate the model performance
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error (MSE): {mse}')
print(f"Mean Absolute Error (MAE): {mae}")
print(f'R-squared (R2): {r2}')

In [ ]:
#hyperparam
from sklearn.model_selection import GridSearchCV

# Define a range of alpha values to test
alphas = np.logspace(-4, 4, 100)

# Create a Ridge model instance
ridge = Ridge()

# Set up the grid search
grid = GridSearchCV(estimator=ridge, param_grid=dict(alpha=alphas), scoring='neg_mean_squared_error', cv=5)

# Fit the grid search to the training data
grid.fit(X_train, y_train)

# Get the best alpha value
best_alpha = grid.best_estimator_.alpha
print(f'Best alpha value: {best_alpha}')

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error, r2_score

# Load your dataset (replace this with your own dataset)
data = data_train

# Prepare the data
X = data.drop('prix', axis=1)  # Replace 'target_column' with the name of your target column
y = data['prix']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.01, random_state=42)

# Create and train the Ridge model
model = Ridge(alpha=4.862601580065354)
model.fit(X_train, y_train)

# Make predictions using the trained model
y_pred = model.predict(X_test)

# Evaluate the model performance
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error (MSE): {mse}')
print(f"Mean Absolute Error (MAE): {mae}")
print(f'R-squared (R2): {r2}')

In [ ]:
#feature scaling
from sklearn.preprocessing import StandardScaler

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error, r2_score

# Load your dataset (replace this with your own dataset)
data = data_train

# Prepare the data
X = data.drop('prix', axis=1)  # Replace 'target_column' with the name of your target column
y = data['prix']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.01, random_state=42)


scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)



# Create and train the Ridge model
model = Ridge(alpha=4.862601580065354)
model.fit(X_train_scaled, y_train)

# Make predictions using the trained model
y_pred = model.predict(X_test_scaled)

# Evaluate the model performance
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error (MSE): {mse}')
print(f"Mean Absolute Error (MAE): {mae}")
print(f'R-squared (R2): {r2}')

In [ ]:
import pickle

with open('ridge_model1.pkl', 'wb') as f:
    pickle.dump(model, f)

In [ ]:
X_test_scaled

In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error, r2_score

# Load your dataset (replace this with your own dataset)
data = data_train

# Prepare the data
X = data.drop('prix', axis=1)  # Replace 'target_column' with the name of your target column
y = data['prix']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.01, random_state=42)

# Create and train the Ridge model
model = Ridge(alpha=4.862601580065354)
model.fit(X_train, y_train)

# Make predictions using the trained model
y_pred = model.predict(X_test)

# Evaluate the model performance
mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error (MSE): {mse}')
print(f"Mean Absolute Error (MAE): {mae}")
print(f'R-squared (R2): {r2}')

In [ ]:
import pickle

with open('ridge_model2.pkl', 'wb') as f:
    pickle.dump(model, f)

In [ ]:
X=[[100, 2, 2,
         0, 1, 0,
        0.4]]

In [ ]:
X_scaled=scaler.fit_transform(X)

In [ ]:
y=model.predict(X)

In [ ]:
y